     {% extends 'base.html' %}

       {% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 style="color: #aaaaaa"; class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Register to a User Account</p>
                </div>
            </div>
        </header>
     <div class="container">
         <div class="row">

                 <div class="col-8">

                     <br/><br/>
                     <form method="POST" action="{% url 'register' %}" >
                         {{ form.as_p }}
                         {% csrf_token %}

                         <br/>
                         <button type="submit" class="btn btn-secondary"> Register </button>
<br/><br/>
</form>


                 </div>
         </div>
     </div>

     {% endblock %}